body {
    overflow: hidden;
}

h1{
    text-align: center;
    margin: 0;
    color: #333;
}

.bug{
    width: 0;
    height: 0;
    position: absolute;
    z-index: 10;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    -ms-transition: 250ms;
    transition: 250ms;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-filter: saturate(20);
    filter: saturate(20);
    background-size: contain !important;

}
.mother{
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-color: #fff;
    background: #fc0;
    position: absolute;
    border-radius: 16px;
    font-family: Arial;
    vertical-align: middle;
    z-index: 10;
}
.bugcursor{
    cursor: pointer;
}
.safebug{
    border-style: solid;
    border-color: #00f;
}
.spore{
    position: absolute;
    z-index: 11;
    width: 64px;
    height: 64px;
    background: url(http://res.cloudinary.com/albertoc/image/upload/v1359756143/pill.png) center no-repeat;
    background-size: contain;
}
.submitbutton{
    left: 0;
}
/************************

Games for Coders CSS


*************************/
.code{
    text-align: left;
    width: 100%;
    height: 100%;
    background: #959595;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 11%, #010101 50%, #0a0a0a 53%, #2b2b2b 76%, #383838 87%, #1b1b1b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#959595), color-stop(11%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#2b2b2b), color-stop(87%,#383838), color-stop(100%,#1b1b1b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 11%,#010101 50%,#0a0a0a 53%,#2b2b2b 76%,#383838 87%,#1b1b1b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #959595 0%,#0d0d0d 11%,#010101 50%,#0a0a0a 53%,#2b2b2b 76%,#383838 87%,#1b1b1b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #959595 0%,#0d0d0d 11%,#010101 50%,#0a0a0a 53%,#2b2b2b 76%,#383838 87%,#1b1b1b 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #959595 0%,#0d0d0d 11%,#010101 50%,#0a0a0a 53%,#2b2b2b 76%,#383838 87%,#1b1b1b 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border: #333 solid;
    border-bottom-width: 1px;
    border-right-width: 1px;
}
.gfcTerminal{
    width: 500px;
    height: 300px;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    position: fixed;
    bottom: 5px;
    right: 1px;
    top: initial;
    left: initial;
    background: #f0b7a1;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 5px;
    border-width: 2px;
    border-color: #333;
    border-style: solid;
    padding: 10px;
    z-index: 100;
}
.code{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dialog{
    z-index: 1000;
    font-size: 0.8em;
}
.dialogHidden{
    display: none;
}
.jsEditor{
    width: 100% !important;
}
#myCodeMirror{
    z-index: 2000;
    width: 95%;
    height: 95%;
    position: relative;
}
.terminalToggle{
    z-index: 101;
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 24px;
    height: 24px;
}
.menuButton{
    z-index: 100;
    position: fixed;
    bottom: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
}
.resizing{
    bottom: 5px !important;
    right: 1px !important;
    top: inherit !important;
    left: inherit !important;
}
.divText{
    color: #f0f;
}
.codeStr{
    font-family: "Courier New","Andale Mono",monospace;
}
.funcStr{
    color: #0ff;
    font-family: "Courier New","Andale Mono",monospace;
}
#musicToggle{
    float: left;
    margin-right: 20px;
}
#soundToggle{
    float: left;
}
.spoiler{
    color: red !important;
    font-weight: bold !important;
}

/************************

The Lab specific CSS


*************************/

*{
    font-size: 12px;
}
body{
    background-color: #000;
}

.fullSizeDiv{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#desk{
    background: url(http://d3jpl91pxevbkh.cloudfront.net/albertoc/image/upload/v1359813117/bg_desk.jpg);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#dish{
    width: 400px;
    height: 300px;
    max-height: 100%;
    background: #000;
    text-align: center;
    margin: 0 auto;
    position: relative;
    cursor: crosshair;
    border-width: 5px;
    border-color: #aaa;
    border-radius: 145px;
    border-style: outset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(246,248,249);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 71%, rgba(215,222,227,1) 72%, rgba(245,247,249,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(71%,rgba(229,235,238,1)), color-stop(72%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 71%,rgba(215,222,227,1) 72%,rgba(245,247,249,1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 71%,rgba(215,222,227,1) 72%,rgba(245,247,249,1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 71%,rgba(215,222,227,1) 72%,rgba(245,247,249,1) 100%);
    /* IE10+ */
    background: linear-gradient(135deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 71%,rgba(215,222,227,1) 72%,rgba(245,247,249,1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
#flask{
    width: 90px;
    height: 220px;
    background: transparent;
    margin: 0px auto;
    position: relative;
    cursor: crosshair;
    border-top-width: 0;
    border-radius: 40px;
    border-radius: 0px 0px 40px 40px;
    border: 10px solid transparent;
    border-top: 12px solid white;
    border-bottom: 7px solid #444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 50px 10px #white;
    -moz-box-shadow: inset 0px 0px 50px 10px white;
    box-shadow: inset 0px 0px 50px 10px white;
}
#flask:before {
    width: 88px;
    height: 4%;
    content: " ";
    background: transparent;
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 20px 20px 0px 0px;
    border-style: solid;
    left: -14%;
    top: -20px;
    position: absolute;
    -webkit-box-shadow: inset 1px -5px 8px 1px #fff;
    -moz-box-shadow: inset 1px -5px 8px 1px #aaa;
    box-shadow: inset 1px -5px 8px 1px #fff;
}
#flask:after {
    content: "40x40";
    position: absolute;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    bottom: 25%;
    right: 4%;
    border: 1px solid #58a;
    font-weight: bold;
    background: white;
    padding: 2px;
    border-radius: 0px 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    -webkit-transform: rotateZ(24deg) rotateY(160deg) translateX(0px) translateY(0px) skewX(-11deg) skewY(0deg);
    -moz-transform: rotateZ(24deg) rotateY(160deg) translateX(0px) translateY(0px) skewX(-11deg) skewY(0deg);
    -o-transform: rotateZ(24deg) rotateY(160deg) translateX(0px) translateY(0px) skewX(-11deg) skewY(0deg);
    -ms-transform: rotateZ(24deg) rotateY(160deg) translateX(0px) translateY(0px) skewX(-11deg) skewY(0deg);
    transform: rotateZ(24deg) rotateY(160deg) translateX(0px) translateY(0px) skewX(-11deg) skewY(0deg);
}   
#dishContainer{
    width: 50%;
}
#flaskContainer{
    width: 50%;
}
.innerContainer{
    text-align: center;
    height: 300px;
    width: 50%;
    float: left;
    margin: 15px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#glass{
    position: fixed;
    z-index: 40;
    background: -moz-radial-gradient(center, ellipse cover, rgba(163,236,255,0.3) 1%, rgba(206,227,159,0.3) 16%, rgba(255,217,50,0.44) 33%, rgba(0,0,0,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(1%,rgba(163,236,255,0.3)), color-stop(16%,rgba(206,227,159,0.3)), color-stop(33%,rgba(255,217,50,0.44)), color-stop(100%,rgba(0,0,0,1)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(163,236,255,0.3) 1%,rgba(206,227,159,0.3) 16%,rgba(255,217,50,0.44) 33%,rgba(0,0,0,1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(163,236,255,0.3) 1%,rgba(206,227,159,0.3) 16%,rgba(255,217,50,0.44) 33%,rgba(0,0,0,1) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(163,236,255,0.3) 1%,rgba(206,227,159,0.3) 16%,rgba(255,217,50,0.44) 33%,rgba(0,0,0,1) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(163,236,255,0.3) 1%,rgba(206,227,159,0.3) 16%,rgba(255,217,50,0.44) 33%,rgba(0,0,0,1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da3ecff', endColorstr='#000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
#darkness{
    background: #000;
    position: fixed;
    z-index: 50;
    opacity: 0.98;
}
@media (max-width:720px){
    .innerContainer{
        height: 46%;
        margin: 2% 0;
    }
    #dishContainer{
        width: 100%;
    }
    #flaskContainer{
        width: 100%;
    }
    #dish{
        max-width: 100%;
        max-height: 100%;
    }
    #flask{
        max-width: 50%;
        max-height: 100%;
    }
    
}
@media (min-width:721px){
    .innerContainer{
        margin: 100px 0;
    }
}

.helpButton{
    margin: 2px auto;
}
.link{
    margin: 2px auto;
}
.personTalking {
    color: #fcd732;
}
blockquote {
    font-style: italic;
    font-family: 'Monda', sans-serif;
    background-color: rgba(0,0,0,0.3);
    text-align: justify;
}
blockquote:before {
    content: '“';
    left: 10px;
    top: 30px;
    position: absolute;
    font-size: 2em;
}
blockquote:after {
    content: '”';
    right: 20px;
    bottom: 0;
    position: absolute;
    font-size: 2em;
}
.ui-widget, .ui-widget button {
    font-family: 'Nunito', sans-serif;
}

.bugTag {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    background: white;
    border-radius: 15px;
    border: 1px solid black;
    -webkit-transform: rotateZ(48deg) translate(0,50%);
    -moz-transform: rotateZ(48deg) translate(0,50%);
    -o-transform: rotateZ(48deg) translate(0,50%);
    -ms-transform: rotateZ(48deg) translate(0,50%);
    transform: rotateZ(48deg) translate(0,50%);
}
#loadCurtain {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -o-transition: 5s;
    -ms-transition: 5s;
    transition: 5s;
    border-right: 2px dashed greenyellow;
}
@-webkit-keyframes curtainBug {
    0% {
        -webkit-transform: rotateZ(10deg);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
    }
}
@-moz-keyframes curtainBug {
    0% {
        -moz-transform: rotateZ(10deg);
    }
    50% {
        -moz-transform: rotateZ(-10deg);
    }
    100% {
        -moz-transform: rotateZ(10deg);
    }
}
@keyframes curtainBug {
    0% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
}
#loadCurtain:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -90px;
    background: url(http://d3jpl91pxevbkh.cloudfront.net/albertoc/image/upload/a_-135/bacteria.png);
    width: 91px;
    height: 91px;
    -webkit-animation: curtainBug 500ms infinite;
    -moz-animation: curtainBug 500ms infinite;
    -ms-animation: curtainBug 500ms infinite;
    -o-animation: curtainBug 500ms infinite;
    animation: curtainBug 500ms infinite;
}
#loadText {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
    color: greenyellow;
    font-family: courier;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    text-shadow: 0px 0px 10px greenyellow;
}

.ghRibbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 100;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-transform: translate3d(120px,0px,0px);
    -moz-transform: translate3d(120px,0px,0px);
    -o-transform: translate3d(120px,0px,0px);
    -ms-transform: translate3d(120px,0px,0px);
    transform: translate3d(120px,0px,0px);
    -webkit-filter: saturate(0);
}
.ghRibbon:hover{
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
    -webkit-filter: saturate(1);
}

.achievementNode {
    position: fixed;
    top: 0;
    left: 10px;
    width: 270px;
    max-width: 100%;
    height: 20px;
    background-color: black;
    z-index: 4000;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    color: white;
    font-family: 'Monda', sans-serif;
}

.achievementNode:before {
    position: absolute;
    top: -5px;
    content: "Achievement Unlocked!";
    padding: 5px;
    font-weight: bold;
}

.achievementNodeShown {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
};